* {
    margin: 0;
    padding: 0;
}

#nav {
    background: #dcdcdc;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
}

.nav-elements {
    box-sizing: border-box;
    border-bottom: 1px solid black;
    font-family: sans-serif;
    color: black;
    margin: 10px;
    padding: 3px;
    display: inline-block;
    height: 25px;
    width: 75px;
    text-align: center;
    text-decoration: none;
}

.nav-elements:hover {
    font-size: 18px;
    border-bottom: 3px solid green;
    transition: font-size 0.5s ease-out 5ms
}