*{
	text-align: center;
  box-sizing: border-box;
}
body{
  background: #dedede !important;
}
.navbar{
	height: 80px;
	margin: 0 !important;
	padding:0 20px !important; 
	letter-spacing: 3px;
}
.nav-item:hover{
	background: black;
}.nav-item{
	height: 100%;
}  

.my-ul{
    display: grid;
    grid-template-columns: repeat(auto-fit,100px);
    justify-content: center;
    width: 100%;
    align-content: center;
}
.my-ul>li{
	display: grid;
	align-content: center;
}
 .btn-primary{
	background:#343a40!important;
	color: #8a9da0 !important;
}

.dropdown button{
	background:#343a40 ;
	border:none;
}
.dropdown:hover .btn-primary{
	background:black!important;
	border:none;
	transition: 0;
}
.dropdown-item:hover{
	background: red !important ;
} 
 .carousel-inner img {
      margin: 0 auto;

      width: 70%;
      height: 780px;
  }
  #demo>ul>li{
  	width: 15px;
  	height: 15px;
  	border-radius: 50%;
  	margin: 0 10px;
  }
  #demo ul{
  	position: absolute !important;
  }
  .my_div{
  	display: block;
  	text-align: center;
  	position: absolute;
  	bottom: 100px;
  	left: 0;
  	right: 0;
  	margin: 0 auto;
  	color: white;
  	width:700px;
  	letter-spacing: 2px;
    font-size: 20px;
  	
  }
  #demo{
  	justify-content: center;
  	align-content: center;
  	align-items: center;
  }
.klor{
	border-radius: 45%;

}
h3{
	letter-spacing: 4px !important;
}
#band>p, p>strong,#contact p{
	opacity: 0.6;
}
.bg-1{
	background: #2d2d30;
}
.label {
	background: #d9534f;
    display: inline;
    padding: 2px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.img-thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    }

   .img-thumbnail .btn:hover,#contact button:hover,#min_menu:hover{
    border: 1px solid #333;
    background-color: #fff  !important;
    color: #000  !important;
    }
    .nav-tabs>li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.my_nav li:hover{
	background: white;
}
.my_nav>li>a{
	color: black;
}
.navbar{
  z-index: 2;
}


